<nav class="navbar">
  <div class="nav-container">
    <div class="nav-title">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </div>
    <div class="nav-links">
      <a href="{{ '/research' | relative_url }}">Research</a>
      <a href="{{ '/publications' | relative_url }}">Publications</a>
      <a href="{{ '/people' | relative_url }}">People</a>
      <a href="{{ '/join' | relative_url }}">Join</a>
      <a href="{{ '/contact' | relative_url }}">Contact</a>
    </div>
  </div>
</nav>
