<!DOCTYPE html>
<nav class="navbar">
  <div class="nav-container">
    <ul class="nav-links">
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/professor' | relative_url }}">Professor</a></li>
      <li><a href="{{ '/lab' | relative_url }}">Lab</a></li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" onclick="return false;">
          Member
        </a>
        <ul class="dropdown-menu">
          <li><a href="{{ '/member/current' | relative_url }}">Current</a></li>
          <li><a href="{{ '/member/alumni' | relative_url }}">Alumni</a></li>
        </ul>
      </li>


      <li><a href="{{ '/publications' | relative_url }}">Publications</a></li>
    </ul>
  </div>
</nav>