<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>
  <div id="page-wrapper">

    <div class="banner">
      <img src="{{ '/assets/banner.jpg' | relative_url }}" alt="Lab banner Image">
    </div>

    {% include navbar.html %}

    <div id="main-area">
      {{ content }}
    </div>

    {% include footer.html %}

  </div>
</body>

</html>